<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <nav class="navbar navbar-light bg-primary">
        <h3 class="text-white mx-auto">
        {{ getName()}}'s Todo List
      </h3>
      </nav>
      <div class="input-group mt-3">
        <input type="text" class="form-control"
        placeholder="Add Todo"
         [(ngModel)]="inputText"
         (keyup.enter)="addTodo();"
         >
        <button class="btn btn-primary" (click)="addTodo();">Add</button>
      </div>
      <div class="form-check mt-2">
        <input type="checkbox"
         class="form-check-input"
         [(ngModel)]="displayAll"
         name=""
          id="displayAll">
        <label for="displayAll" class="form-check-label">Display All</label>
      </div>
      <div class="alert alert-warning" *ngIf="getTodos().length==0 else todoTable">
        All missicons accomplish
      </div>


      <ng-template #todoTable>
        <table class="table">
          <thead>
            <tr>
              <td>id</td>
              <td>Description</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let todo of getTodos(); let i = index;"
            [class]="{'bg-primary':todo.action,'bg-warning':!todo.action}">
              <td>{{i + 1}}</td>
              <td>{{todo.description}}</td>
              <td>
                <div *ngIf="todo.action; else noTemplate">Yes</div>
                <ng-template #noTemplate>No</ng-template>
              </td>
              <td>
                <input
                type="checkbox"
                (change)="onActionChange(todo)"
                [(ngModel)]="todo.action"
                />
              </td>
            </tr>

          </tbody>

        </table>
      </ng-template>


    </div>
  </div>
</div>
